
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
         
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="padded" data-lang="ru" data-ef_voting="push" data-icon_dislike_show="false" data-counter_type="subtract_dislikes" data-share_size="small"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
<div class = "container">
<div class="box"> 
Артем вырвался с Юхе и попал наконец в Содружество, не прошло и года с начала его путешествия. Но что-то странное это Содружество, больше похоже на гигантскую свалку, размером с целую планету, да и местное население враждебно настроено к чужаку. Но с этим вполне можно смириться, ему не привыкать! Главное, что местные знают о Звездном Содружестве, и даже могут за большие деньги помочь туда попасть!
А еще Арт даже не подозревает, что ищейка ЭкоТур уже давно идет по его следам и практически догнала, но как будто одного демона, желающего похитить его душу, мало Вселенной и теперь проблемы предыдущего владельца нейросети начинают всплывать одна за одной, не зря же он воспользовался услугами ЭкоТур и сбежал куда подальше?
Но время решает все, не так ли? </div></div>
<input type="button" value="Подробнее" onclick="document.getElementsByClassName('box')[0].style.cssText=`
overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 10em;
`"/>
